aioconsole==0.8.1
aiofiles==24.1.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
dotenv==0.9.9
gevent==24.11.1
greenlet==3.1.1
idna==3.10
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
platformdirs==4.3.8
pycparser==2.22
Pygments==2.19.1
python-dotenv==1.1.0
requests==2.32.3
rich==14.0.0
setuptools==78.1.0
textual==3.3.0
typing_extensions==4.13.2
uc-micro-py==1.0.3
urllib3==2.3.0
websocket==0.2.1
websockets==15.0.1
zope.event==5.0
zope.interface==7.2
